# Backend
QBT_URL=https://qbt.example.com
QBT_USER=admin
QBT_PASS=change-me
OAUTH_FORWARD_URL=https://autoplex.example.com/callback
PLEX_URL=http://plex.example.com:32400
PLEX_TOKEN=replace-with-plex-token
DOMAIN=autoplex.example.com
PATH_DISK=/sdc

# Frontend (nginx template)
NGINX_HOST=autoplex.example.com
