@media screen and (max-width: 670px) {
    html {
        background-color: #d5d1d1;
      }

    #smaller-body {
        width: 100%;
        margin: 0;
      }
    
      #inputTitle {
        width: 100%;
      }
}