html, body{
    height: 100%;
}

html {
    background-color: #393939;
}

body {
    margin: auto;
    font-family: Tahoma, Verdana, Arial, Arial, serif;
    touch-action: auto;
}

.header {
    overflow: hidden;
    padding: 0 10px;
    background-color: #161616;
    color: #fff;
  }
  
.header a {
    float: left;
    color: #ffff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }

  .btn {
    background-color: rgb(193 127 52);
    color: white;
    padding: 15px 0px;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: block;
    width: 38%;
    margin: 12px auto;
  }

  .btn.btn-success.login {
    margin: -8px auto;
  }

  #signup-msg {
    bottom: 4px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: #151515;
  }

  .field {
    margin: 2px auto;
  }

  .is-large {
    height: 21px;
    width: 36%;
  }

#h1-login {
    padding: 20px 0;
    font-size: 24px;
}

#login-div {
    height: 330px;
    width: 38%;
    margin: 70px auto;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    background-color: #f2f2f2;
    position: relative;
}
  

.header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: rgb(31, 30, 30);
    color: white;
  }

.header-right {
    float: right;
    font-size: 15px;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

#smaller-body{
    width: 67%;
    block-size: fit-content;
    margin: 3% auto 0;
    background-color: #d5d1d1;
    min-height: 100%;
}

.active {
    background-color: #04AA6D;
}

#imageContainer a {
    color: inherit;
    text-decoration: inherit;
    display: inline-block;
  }

#inputTitle {
    margin: auto;
    text-align: center;
    padding-top: 30px;
    width: 50%;
}

#search-field {
    position:relative;
    margin-bottom:10px;
    margin: auto;
    width: 80%;
}

#inputTitle #title {
    height: 30px;
    width: 100%;
    padding-left: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 14px;
}

#titleButton {
    position: absolute;
    right: 0px;
    top: 4px;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    outline: none;
    text-align: center;
    font-weight: bold;
    padding: 2px;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
}

#checkbox {
    padding: 18px;
}

#imageContainer {
    text-align: center;
    width: 100%;
    margin: auto;
}

#imageContainer #title-choose {
    display: inline-block;
    padding: 20px 20px 40px;
    vertical-align: text-top;
}

#imageContainer #title-choose img {
    height: 352px;
    max-width: 235px;
    object-fit: cover;
    display: block;
    transition: .5s ease;
    border-radius: 7px;
    display:block;
    margin:auto;
}

#imageContainer #title-choose img:hover {
    opacity: 0.7;
}

#chosen {
    padding: 25px 0 36px 0;
    width: 18%;
}

#imageContainer p {
    text-align: center;
    font: normal normal 400 11pt normal Tahoma, Verdana, Arial, Arial;
    width: 280px;
}

table {
    width: 95%;
    margin: auto;
    padding-bottom: 30px;
}

th {
    cursor: pointer;
    background-color: black;
    vertical-align: middle;
    color: white;
}

tr {
    vertical-align: baseline;
    height: 30px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td {
    vertical-align: middle;
    line-break: anywhere;
}

td a img {
    width: 12px;
    cursor: pointer;
}

.download-bar-full {
    background-color: rgb(193 127 52) !important;
    color: #fff !important;
}

.download-div {
    width: 100%;
    text-align: left;
}

.progress {
    padding: 2%;
}

.downloading {
    padding: 3px 0;
  }
