html, body{
    height: 100%;
}

html {
    background-color: lightseagreen;
}

body {
    margin: auto;
    font-family: Tahoma, Verdana, Arial, Arial, serif;
    touch-action: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

#smaller-body{
    width: 67%;
    block-size: fit-content;
    margin: 3% auto 0;
    background-color: lightgray;
    min-height: 100%;
}

.active {
    background-color: #04AA6D;
}

#imageContainer a {
    color: inherit;
    text-decoration: inherit;
    display: inline-block;
  }

#inputTitle {
    margin: auto;
    text-align: center;
    padding-top: 21px;

}

#inputTitle #title {
    width: 60%;
    height: 29px;
}

button #titleButton {
    height: 35px;
    color: white;
    padding: 0 22px;
    cursor: pointer;
    background-color: gray;
    border-color: gray;
    border-radius: 1px;
}

#checkbox {
    padding: 18px;
}

#imageContainer {
    text-align: center;
    width: 100%;
    margin: auto;
}

#imageContainer #title-choose {
    display: inline-block;
    padding: 20px 20px 40px;
}

#imageContainer #title-choose img {
    height: 400px;
    width: 270px;
    object-fit: cover;
    margin: auto;
    display: block;
    transition: .5s ease;
    border-radius: 7px;
}

#imageContainer #title-choose img:hover {
    opacity: 0.7;
}

#chosen {
    padding: 25px 0 36px 0;
    width: 18%;
}

#imageContainer p {
    text-align: center;
    font: normal normal 400 11pt normal Tahoma, Verdana, Arial, Arial;
    width: 280px;
    position: absolute;
}

table {
    width: 95%;
    margin: auto;
    padding-bottom: 30px;
}

th {
    cursor: pointer;
    background-color: black;
    vertical-align: middle;
    color: white;
}

tr {
    vertical-align: baseline;
    height: 30px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td {
    vertical-align: middle;
    line-break: anywhere;
}

td a img {
    width: 12px;
    cursor: pointer;
}

#loader-div {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: gray;
    opacity: 0.5;
    display: none;
}

.loader {
    border: 9px solid #f3f3f3;
    border-radius: 50%;
    border-top: 9px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: sticky;
    margin: auto;
    top: 50%;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
