{{ define "home/index.html" }}
<!DOCTYPE html>
<html lang="en" data-theme="mocha">
    <head>
        <title>Autoplex</title>
        {{ template "static/head.html" }}
    </head>
    <body>
        <div class="navbar bg-primary-content shadow-sm">
            <a href="/">
                <button class="btn btn-ghost text-xl text-bold">Autoplex</button>
            </a>
        </div>
        <div class="m-auto lg:container">
            <div class="flex justify-center pt-8">
                <label class="input input-secondary">
                    <svg class="h-[1em] opacity-50" viewBox="0 0 24 24">
                        <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                        <circle cx="11" cy="11" r="8"></circle>
                        <path d="m21 21-4.3-4.3"></path>
                        </g>
                    </svg>
                    <input type="search"
                           name="s"
                           hx-get="/"
                           hx-trigger="keyup[key=='Enter']"
                           hx-target="#torrent-search"
                           hx-indicator="#torrent-search-indicator"
                           hx-push-url="true"
                           {{ if .input }}
                           value="{{ .input }}"
                           {{ end }}
                           hx-on::before-request="document.getElementById('torrent-search').innerHTML = ''"
                           required
                           placeholder="Search" />
                </label>
            </div>
            <div class="pt-8">
                <div id="torrent-search">
                    {{ template "home/torrentList.html" . }}
                </div>
                <div class="flex justify-center">
                    <span id="torrent-search-indicator"
                          class="htmx-indicator loading loading-spinner loading-sm"></span>
                </div>
            </div>
        </div>
    </body>
</html>
{{ end }}
