body {
    font-family: Tahoma, Verdana, Arial, Arial, serif
}

#inputTitle {
    margin: auto;
    text-align: center;
    padding: 85px;

}

input {
    width: 30%;
    height: 29px;
}

button {
    height: 35px;
    color: white;
    padding: 0 22px;
    cursor: pointer;
    background-color: lightgreen;
    border-color: lightgreen;
    border-radius: 1px;
}

#imageContainer img {
    width: 20%;
    height: auto;
    margin: auto;
    display: block;
    cursor: pointer;
}

#imageContainer p {
    text-align: center;
    font: normal normal 400 11pt normal Tahoma, Verdana, Arial, Arial;
}

table {
    width: 70%;
    margin: auto;
}

tr {
    vertical-align: baseline;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
