* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

html {
  background-color: #0e1116;
  color: #e7edf2;
}

.PageContainer {
  margin: 100px 0;
  text-align: center;
}

.data {
  margin: 100px auto;
  width: 70%;
  text-align: center;
}

.table {
  width: 50%;
  color: #e7edf2;
}

.MuiTableHead-root {
  color: #e7edf2;
}

.MuiPaper-root {
  background-color: black;
}

.main {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.search {
  width: 30%;
}

#outlined-basic-label {
  color: #e7edf2;
}
#outlined-basic {
  color: #e7edf2;
}