* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    height: 100vh;
    width: 100vw;
  }

  html {
    background-color: #0e1116;
    color: #e7edf2;
  }

  .PageContainer {
    margin: 100px 0;
    text-align: center;
  }