<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>AutoPlex</title>
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='responsive.css') }}" rel="stylesheet" />
    <!-- Add icon library -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>
    <div class="header">
        <a href="/" class="logo">AutoPlex</a>
        <div class="header-right">
            <p>
                {% if current_user.is_authenticated %}
                Logged in as: {{ current_user.email }}
                {% endif %}
            </p>
        </div>
    </div>

    <div id="login-div">
        <h2>Torrents currently downloading</h2>

        {% if title %}
        <div class="progress">
            <div class="download-div" style="margin: auto; width: 100%">
                {% for i in range(0, len) %}
                <div class="downloading">
                    {{title[i]}}
                </div>
                <div class="download-bar" class="w3-progressbar w3-green" style="width: 100%;">
                    <div class="download-bar-full" class="w3-center w3-text-white" style="width:{{ progress[i] }}%">
                        {{ progress[i] }}%
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <br>
        {% endif %}
    </div>

    <script>
        function move() {
            var elem = document.getElementById("myBar");
            var width = 20;
            var id = setInterval(frame, 10);
            function frame() {
                if (width >= 100) {
                    clearInterval(id);
                } else {
                    width++;
                    elem.style.width = width + '%';
                    document.getElementById("demo").innerHTML = width * 1 + '%';
                }
            }
        }
    </script>

</body>

</html>