<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>
    {% include "header.html" %}

    <div id="login-div">
        <h2>Torrents currently downloading</h2>

        {% if title %}
        <div class="progress">
            <div class="download-div" style="margin: auto; width: 100%">
                {% for i in range(0, len) %}
                <div class="downloading">
                    {{title[i]}}
                </div>
                <div class="download-bar" class="w3-progressbar w3-green" style="width: 60%;">
                    <div class="download-bar-full" class="w3-center w3-text-white" style="width:{{ progress[i] }}%">
                        {{ progress[i] }}%
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <br>
        {% endif %}
    </div>

    <footer>
        <p style="text-align: center;">
            {% if current_user.is_authenticated %}
            Logged in as {{ current_user.email }}
            {% endif %}
        </p>
    </footer>
</body>
{% include "scripts.html" %}
</html>