<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>AutoPlex</title>
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='responsive.css') }}" rel="stylesheet" />
    <!-- Add icon library -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>
    <div class="header">
        <a href="/" class="logo">AutoPlex</a>
        <div class="header-right">
            <p>
                {% if current_user.is_authenticated %}
                Logged in as: {{ current_user.email }}
                {% endif %}
            </p>
        </div>
    </div>



    <div id="smaller-body">
        <div id="inputTitle">
            <div id="search-field">
                <input type="text" autocomplete="off" id="title" name="search" placeholder="Search For Title">
                <button id="titleButton"></button>
            </div>
            <div id="checkbox">
                <input type="checkbox" autocomplete="off" id="movie" name="movie">
                <label for="movies"> Movies</label>
                <input type="checkbox" autocomplete="off" id="series" name="series">
                <label for="series"> TV Series</label>
            </div>
        </div>

        <div id="imageContainer">

            {% if title %}
            {% for i in range(0, len) %}
            <a href="/torrent/{{ category }}/{{ id[i] }}">
                <div id="title-choose">
                    <img src="{{ cover[i] }}" alt="{{ id[i] }}">
                    <p>{{ title[i] }}</p>
                </div>
            </a>
            {% endfor %}
            {% endif %}

            {% if magnet %}
            <img id="chosen" src="{{ cover }}">
            <div id="torrent-info">
                <p>More seeders = Better</p>
                <p>Movies/Episodes (preffered): 1GB - 8GB</p>
                <p>Seasons (Preffered): 10GB - 50GB</p>
            </div>
            <div>
                <table id="myTable">
                    <tr>
                        <th onclick="sortTable(0)">Name of file</th>
                        <th onclick="sortTable(1)">Seeders</th>
                        <th onclick="sortTable(2)">Size</th>
                        <th onclick="sortTable(3)">Install</th>
                    </tr>
                    {% for i in range(0, len) %}
                    <tr>
                        <td id="fileName" style="text-align: left;">{{ filename[i] }}</td>
                        <td>{{ seeders[i] }}</td>
                        <td>{{ size[i] }} GB</td>
                        <td>
                            <form method="post" id="myForm"
                                ,action="{{ url_for('get_torrents' ,category=cat, name=na) }}">
                                <input type="hidden" name="magnet" value="{{ magnet[i] }}" />
                                <input type="hidden" name="title" value="{{ filename[i] }}" />
                                <div>
                                    <button type="submit"
                                        style="background: url(https://dyncdn.me/static/20/img/magnet.gif); height: 12px; width: 12px; border: none; cursor: pointer; vertical-align: middle;background-repeat: no-repeat;">
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</body>
<script src="{{ url_for('static',filename='request.js') }}"></script>
<script src="{{ url_for('static',filename='sort.js') }}"></script>

</html>