<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>AutoPlex</title>
</head>

<body>
    <form class="form_1" method="POST" action="{{url_for('login')}}">
        <div class="input_fields">
            <h1>Login</h1>
            {{ form.csrf_token }}
            {{ form.email }}<br>
            {% if form.errors %}
                {% for error in form.errors['email'] %}
                    <p class="error_msg">{{ error }}</p>
                {% endfor %}
            {% endif %}
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <p class="error_msg">{{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {{ form.password }}<br>
            {% if form.errors %}
                {% for error in form.errors['password'] %}
                    <p class="error_msg">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <button class="rounded_gradiant_md_btn" type="submit">
            login
        </button>
    </form>
</html>