<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>AutoPlex</title>
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='responsive.css') }}" rel="stylesheet" />
</head>

<body>

    <div class="logo">
    </div>

    <div id="smaller-body">

        <!--
            <div id="menu">
                <ul>
                    <li><a class="active" href="#search">Search</a></li>
                    <li><a href="#downloading">Downloading</a></li>
                </ul>
            </div>
        -->
        <div id="loader-div">
            <div class="loader"></div>
        </div>
        <div id="inputTitle">
            <input type="text" autocomplete="off" id="title" name="search" placeholder="Search For Title">
            <button id="titleButton">Search</button>
            <div id="checkbox">
                <input type="checkbox" autocomplete="off" id="movie" name="movie">
                <label for="movie"> Movie</label>
                <input type="checkbox" autocomplete="off" id="series" name="series">
                <label for="series"> TV Series</label>
            </div>
        </div>
        <div id="imageContainer">

            {% if title %}
            {% for i in range(0, len) %}

            <a href="/torrent/{{ category }}/{{ id[i] }}/">
                <div id="title-choose">
                        <img src="{{ cover[i] }}" alt="{{ id[i] }}">
                        <p>{{ title[i] }}</p>
                </div>
            </a>

            {% endfor %}
            {% endif %}

            {% if magnet %}

            <img id="chosen" src="{{ cover }}">
            <div>
                <table id="myTable">
                    <tr>
                        <th onclick="sortTable(0)">Name of file</th>
                        <th onclick="sortTable(1)">Seeders</th>
                        <th onclick="sortTable(2)">Size</th>
                        <th onclick="sortTable(3)">Install</th>
                    </tr>

                    {% for i in range(0, len) %}

                    <tr>
                        <td id="fileName">{{ filename[i] }}</td>
                        <td>{{ seeders[i] }}</td>
                        <td>{{ size[i] }} GB</td>
                        <td>
                            <a>
                                <img src="https://dyncdn.me/static/20/img/magnet.gif"
                                    alt="{{ magnet[i] }} {{ filename[i] }}" onclick="torrentDownload(this.alt)">
                            </a>
                        </td>
                    </tr>

                    {% endfor %}

                </table>
            </div>

            {% endif %}

        </div>
    </div>
</body>
<script src="{{ url_for('static',filename='request.js') }}"></script>
<script src="{{ url_for('static',filename='sort.js') }}"></script>

</html>